body {
    color: rgb(255, 254, 254);
    background-color: black;
    font-family: 'Roboto', sans-serif;
    justify-content: flex-start;
    padding: 50px;
}

.categoriavideos {
  display: flex;
  flex-wrap: wrap; /*Permite que os itens quebrem para a próxima linha quando necessário*/
  justify-content: flex-start; /*alinha os itens à esquerda*/
  gap: 15px; /*espaçamento entre os itens*/
  margin-top: 20px;
}

.categoriavideos a img {
  width: 200px;
  height: auto;
  border-radius: 8px;
  transition: transform 0.3s;
  max-width: 100%; /* Garante que a imagem não ultrapasse a largura do seu contêiner */
}

.categoriavideos a img:hover {
  transform: scale(1.05);
}
