body {
    color: rgb(255, 254, 254);
    background-color: black;
    font-family: 'Roboto', sans-serif;
    justify-content: flex-start;
    padding: 50px;
}

header{
    border-bottom: solid 2px rgb(42, 122, 228);
    padding: 20px;
    font-size: 25px;
    color: rgb(22, 24, 26);}

.chamada{
    background: rgb(14, 14, 14);
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;
}
.chamada-texto {
    margin-right: 5%;
} 

.categoriavideos {
  display: flex;
  flex-wrap: wrap; 
  justify-content: flex-start; 
  gap: 15px; 
  margin-top: 20px;
}

.categoriavideos a img {
    width: 30%;      
    height: auto;
    border-radius: 8px;
    transition: transform 0.3s;
    max-width: 100%;
}


.categoriavideos a img:hover {
  transform: scale(1.05);
}
